header {
    padding-top: 41px;
	padding-left: 63px;
	padding-bottom: 85px;
}
section {
	padding-left: 52px;
}

.taw {
	padding-top: 41px;
	padding-left: 63px;
	padding-bottom: 85px;

}
.gfd {
	padding-right: 63px;
    
}
.qwr {
	padding-right: 63px;
}
.ghu {
	padding-top: 91pxpx;
	padding-left: 80px;
	padding-bottom: 707;
}

.nmk {
	margin-right: 60px;
}

a {
font-family: FiraGO;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 0em;
text-align: left;
color: rgba(141, 129, 255, 1);
display: inline-block;
gap: 40px;
margin-right: 87px ;
}

.activepage {
font-family: FiraGO;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 0em;
text-align: left;
color: rgba(78, 111, 174, 1);
margin-right: 87px
}
h4 {
font-family: "BPG Square", sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
background:darkblue;
background-size: 33px;
color: white;
padding-bottom: 18px;
width: 31px;
height: 34px;
}
h3 {
font-family: "BPG Square", sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
color: rgba(141, 129, 255, 1);
padding-top: 18px;
margin-right: 1px;
;
}
h5 {
font-family: "BPG Nostalgia", sans-serif;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: rgba(78, 111, 174, 1);
padding-top: 18px;
padding-bottom: 54px;
;
width: 578px
height: 34px
top: -258px
left: -757px
}
div {
font-family: FiraGO;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: rgba(78, 111, 174, 1);
;
display: inline-block;
padding-left: 66px;
width: 778px

}
li {
font-family: FiraGO;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: rgba(78, 111, 174, 1);
;
display: inline-block;
width: 778px

}
gbn2 {
font-family: FiraGO;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: background: rgba(78, 111, 174, 1);
;
display: inline-block;
width: 778px
height: 280px
top: 384px
left: -244px
}
p {
font-family: FiraGO;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: rgba(78, 111, 174, 1);
padding-top: 32px;
;
width: 1021px
height: 148px
top: 1291px
left: -757px
}

.lat6,.eht3,.hbg5 {
color: background: rgba(80, 18, 213, 1);
;
display: inline-block;
margin-right: 21px;
padding-top: 52px;
padding-left: 52px;
width: 48px
top: 1584px
left: -666px
border: 2px
angle: -90 deg
}


.activepage2 {
font-family: FiraGO;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 0em;
text-align: left;
color: rgba(78, 111, 174, 1);
}
.bnh6 {
font-family: FiraGO;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 0em;
text-align: left;
color: background: rgba(78, 111, 174, 1);
;
display: inline-block;
width: 150px
height: 34px
top: 255px
left: 885px
}
.grt7 {
font-family: FiraGO;
font-size: 26px;
font-weight: 400;
line-height: 31px;
letter-spacing: 0em;
text-align: left;
color: background: rgba(78, 111, 174, 1);
;
display: inline-block;
width: 484px
height: 34px
top: 255px
left: 1070px
}
.dna0 {
font-family: Helvetica Neue LT GEO;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
width: 307px
height: 24px
top: 336px
left: 908px
}


.loki0 {
height: 192px;
width: 500px

}
dna0 {
font-family: Helvetica Neue LT GEO;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: background: rgba(126, 136, 152, 1);
;
display: inline-block;
width: 335px
height: 95px
top: 375px
left: 1585px

}
.activepage3 {
font-family: FiraGO;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 0em;
text-align: left;
color: rgba(78, 111, 174, 1);
}

.nyu5 {
	display: inline-block;
	width: 500px;
}
.k77 {
font-family: Helvetica Neue;
font-size: 36px;
font-weight: 700;
line-height: 44px;
letter-spacing: 0em;
text-align: left;
color: rgba(78, 111, 174, 1);
width: 474px
height: 34px
top: -288px
left: 2324px
}
.ara4 {
display: inline-block;
width: 500px
height: 192px
top: 315px
left: 885px

}
.sdr1 {
font-family: FiraGO;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 0em;
text-align: left;
color: rgba(141, 129, 255, 1);
display: inline-block;
gap: 40px;
margin-right: 87px ;
}
       



        
            